<footer class="footer">
    <div class="footer__inner">
        <div class="container-xl">
            <div class="row footer__wrap-head">
                <div class="col-12 col-lg-3 d-flex align-items-center  justify-content-center justify-content-lg-start">
                    <img src="img/logo.svg" alt="logo">
                    <div class="d-flex flex-column text-block">
                        <img src="img/img-logo-text.png" alt="Спарта">
                        <span class="text-logo">ФИТНЕС - КЛУБ</span>
                    </div>
                </div>
                <nav class="col-6 menu d-flex justify-content-center align-items-center">
                    <ul class="menu__list d-flex">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">О зале</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Цены</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Тренерский состав</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Отзывы</a>
                        </li>
                    </ul>
                </nav>
                <div class="col-12 col-lg-3 d-flex flex-column flex-xl-row align-items-center justify-content-lg-end justify-content-center phone">
                    <a class="phone__link" href="tel:+74954208800">8 495 420-88-00</a>
                    <div class="wrap-links">
                        <a href="#" class="vk-link"><img src="img/vk.svg" alt="vk"></a>
                        <a href="#" class="insta-link"><img src="img/insta.svg" alt="insta"></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 d-lg-block d-flex justify-content-center">
                    <p class="politika-conf">
                        Политика конфиденциальности
                    </p>
                </div>
                <div class="col-12 col-lg-4 d-lg-block d-flex justify-content-center">
                    <p class="copyright">
                        Все права защищены <span class="copy">©</span><span class="year">2019</span>
                    </p>
                </div>
                <div class="col"></div>
            </div>
        </div>
    </div>
</footer>