<header class="header" style="overflow: hidden;">
    <div class="container-xl">
        <div class="header__wrapper">
            <div class="d-flex justify-content-between header__inner">
                <div class="d-flex align-items-center logo">
                    <img src="img/logo.svg" alt="logo">
                    <div class="d-flex flex-column text-block">
                        <img src="img/img-logo-text.png" alt="Спарта">
                        <span class="text-logo">ФИТНЕС - КЛУБ</span>
                    </div>
                </div>
                <nav class="menu d-flex justify-content-center align-items-center">
                    <div class="burger-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <ul class="menu__list d-flex">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#anchor1">О зале</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#anchor2">Цены</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#anchor3">Тренерский состав</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#anchor4">Отзывы</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#anchor5">Контакты</a>
                        </li>
                    </ul>
                </nav>
                <div class="d-flex align-items-center justify-content-end phone">
                    <a class="phone__link" href="tel:+74954208800">8 495 420-88-00</a>
                </div>
            </div>
            <div class="row first-screen">
                <div class="first-screen__inner">
                    <div class="row">
                        <div class="col-12 col-lg-8 first-screen__title">
                            <img class="first-screen__title-img" src="img/img-text-first-screen.png" alt="сделай себя сильным">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-5">
                            <ul class="list-first-screen">
                                <li class="list-first-screen__item">Создавайте себя в уникальном фитнес-клубе</li>
                                <li class="list-first-screen__item">Всегда рабочая обстановка</li>
                                <li class="list-first-screen__item">Опытные тренера</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <a class="btn-more-details" href="#anchor1">Подробнее</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 d-flex align-items-center arrow-wrapper">
                            <img src="../img/listai-vniz-arrow.png" alt="стрелка вниз">
                            <span class="text-arrow">Листай вниз</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col wrapper_bg">
                            <img class="first-screen-bg" src="img/bg-first-screen.png" alt="background">
                            <img class="first-screen-man" src="img/man.png" alt="man">
                            <div class="inner_bg">
                                <img class="first-screen-bg-mobile" src="img/bg-first-screen-mobile.png" alt="mobile-bg">
                                <a class="d-flex flex-column first-screen-link-more" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                                    <img src="img/btn-uznat-bolshe-o-nas.svg" alt="кнопка узнать больше">
                                    <span>
                                        Узнайте больше о нас
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>