//медиа запросы @media (max-width: 1200px) {}
@media (max-width: 1200px) {

    .gallery__photo1,
    .gallery__photo2,
    .gallery__photo3,
    .gallery__photo4,
    .gallery__photo5 {
        width: 100%;
    }

    .prices__item {
        margin-bottom: 40px;
    }
    .questions-form__wrap {
        flex-wrap: wrap;
    }
    .questions-form__input-wrap {
        margin-top: 20px;
    }
    .contact {
        position: static;
        transform: translate(0);
        padding-left: 0;
    }
    .contacts .container-xl {
        position: static;
    }
    .questions {
        margin-bottom: 0;
    }
}

@media (max-width: 991px) {
    .menu {
        order: 1;
    }

    .menu__list {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex !important;
        position: absolute;
        background-color: black;
        left: -15px;
        right: -15px;
        top: -21px;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        transform: translateY(-100%);
        transition: all .5s ease-in;
    }

    .burger-btn {
        cursor: pointer;
        width: 22px;
        height: 14px;
        position: relative;
        margin-bottom: 2px;
        z-index: 1;
    }

    .burger-btn span {
        &:nth-child(1) {
            position: absolute;
            width: 22px;
            height: 2px;
            background: white;
            top: 0;
        }

        &:nth-child(2) {
            position: absolute;
            width: 18px;
            height: 2px;
            background: white;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }

        &:nth-child(3) {
            position: absolute;
            width: 22px;
            height: 2px;
            background: white;
            bottom: 0;
        }
    }

    .phone__link {
        font-size: 16px;
    }

    .show-menu {
        transform: translate(0);
        transition: all .5s ease-in;
    }

    .menu__list-item+.menu__list-item {
        margin-left: 0;
        margin-top: 10px;
    }

    .arrow-wrapper {
        display: none !important;
    }

    .first-screen-bg {
        display: none;
    }

    .first-screen-man {
        display: none;
    }

    .first-screen-bg-mobile {
        display: block;
        object-fit: cover;
        max-width: 100%;
        transform: scale(1.2) translateX(10px);
        margin-top: -30px;
    }

    .wrapper_bg {
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        padding: 0;
        margin-top: -140px;
    }

    .first-screen__title-img {
        max-width: 100%;
    }

    .first-screen {
        margin-top: 36px;
    }

    .first-screen__title {
        margin-bottom: 20px;
    }

    .list-first-screen__item {
        font-size: 14px;
    }

    .btn-more-details {
        margin-top: 32px;
        position: relative;
        z-index: 1;
    }
    .list-first-screen {
        position: relative;
        z-index: 1;
    }

    .first-screen-link-more {
        align-items: center;

        img {
            height: 93px;
            width: 93px;
        }

        top: 55%;
        right: 44%;
        transform: translate(50%, 50%);
    }

    .header {
        padding-bottom: 54px;
    }

    .section-title::before {
        display: none;
    }

    .section-title {
        font-size: 24px;
    }

    .gallery {
        margin-top: 32px;
    }

    .gallery__title {
        font-size: 14px;
        margin-top: 12px;
    }

    .gallery__photo1::before,
    .gallery__photo2::before,
    .gallery__photo3::before,
    .gallery__photo4::before,
    .gallery__photo5::before {
        display: none;
    }

    .gallery__photo1-img,
    .gallery__photo2-img,
    .gallery__photo3-img,
    .gallery__photo4-img,
    .gallery__photo5-img {
        object-fit: none;
        object-position: left;
    }

    .gallery__photo1,
    .gallery__photo2,
    .gallery__photo3,
    .gallery__photo4,
    .gallery__photo5 {
        height: 190px;
    }

    .gallery__item1,
    .gallery__item2,
    .gallery__item3,
    .gallery__item4,
    .gallery__item5 {
        height: auto;
    }

    .gap-grid {
        --bs-gap: 29px 5px !important;
    }

    .section-subtitle {
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.03em;
    }

    .about__description-text {
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 150%;
        margin-right: 0;
        margin-top: 15px;
    }

    .zadat-vopros {
        margin-top: 32px;
    }

    .sarichev-bg {
        position: static;
        width: 100%;
        object-fit: contain;
        height: unset;
        transform: scale(1.1);
    }

    .photo-zala__inner {
        padding-bottom: 77px;
        padding-top: 15px;
    }

    .pro-nash-zal-link {
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 168px;
            height: 168px;
        }

        span {
            margin-top: -40px;
        }
    }

    .about__wrapper {
        overflow-x: hidden;
    }

    .prices_subtitle-text {
        text-align: center;
    }

    .prices .section-title {
        text-align: center;
    }

    .prices__list {
        margin-top: 53px;
    }

    .prices-bg {
        top: 38%;
        left: unset;
        right: -86%;
    }

    .prices__inner {
        padding-top: 80px;
        padding-bottom: 0;
    }
    .coaching-staff {
        margin-top: 40px;
    }
    .coaching-staff .section-title {
        text-align: center;
    }
    .coaching-staff_subtitle-text {
        text-align: center;
    }
    .coaching-staff_subtitle-text {
        margin-top: 10px;
    }
    .coaching-staff__item {
        padding-top: 40px   ;
    }
    .coaching-staff__list {
        margin-top: -30px;
    }
    .coaching-staff {
        margin-bottom: 76px;
    }
    .reviews .section-title {
        text-align: center;
    }
    .reviews_subtitle-text {
        text-align: center;
        margin-top: 19px;
    }
    .reviews__bg {
        position: static;
        width: 100%;
        transform: scale(1.1);
        margin-left: -46px;
    }
    .reviews-slider {
        margin-top: 0;
    }
    .reviews-slider__item-review-text {
        font-size: 14px;
    }
    ul.slick-dots {
        justify-content: center;
    }
    ul.slick-dots {
        margin-top: 31px;
    }
    .questions-form__input {
        height: 23px;
        padding-bottom: 7px;
        width: 100%;    
    }
    .questions-form__input-wrap {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .questions-form__input-wrap + .questions-form__input-wrap {
        margin-left: 20px;
    }
    .questions-form__input-wrap::before {
        width: 100%;
    }
    .questions__title {
        font-size: 24px;
        margin-bottom: 23px;
    }
    .reviews__wrapper {
        padding-bottom: 0;
    }
    .questions {
        margin-top: 80px;
    }
    .questions__subtitle {
        margin-bottom: 16px;
        text-align: center;
    }
    .questions__condition-text {
        font-size: 9px;
        color: #343434;
        margin-right: 0;
        margin-bottom: 25px;
    }
    .questions-form__wrap-btn {
        margin-right: 0;
        margin-bottom: 0;
    }
    .questions-form__wrapper-inp {
        margin-bottom: 21px;
    }
    .questions-form__send-btn {
        margin-left: 10px;
    }
    .contact__title {
        text-align: center;
    }
    .contact__text {
        font-size: 16px;
        text-align: center;
    }
    .contact__address {
        margin-bottom: 26px;
    }
    .contact__phone {
        margin-bottom: 6px;
    }
    .contact {
        padding: 0;
        padding-top: 80px;
        padding-bottom: 41px;
    }
    .footer .menu__list {
        display: none;
    }
    .vk-link {
        margin-left: 0;
    }
    .footer__wrap-head {
        margin-bottom: 23px;
    }
    .politika-conf {
        margin-bottom: 12px;
        font-size: 14px;
    }
    .footer .phone__link {
        margin-top: 20px;
        margin-bottom: 17px;
    }
    .footer__inner {
        padding-top: 17px;
        padding-bottom: 13px;
    }
    .footer .phone__link {
        font-size: 19px;
    }
    .copyright {
        font-size: 14px;
        .year, .copy {
            font-size: 16px;
        }
    }
}